@charset "UTF-8";
*{ margin : 0; padding : 0;}

header{width : 100%; height : 90px; background-color : rgb(255, 227, 175); padding : 20px;
		box-sizing: border-box}
h1{ text-align : center; }
h2{ text-align : center; }
footer{ text-align : center; background-color : rgb(255, 227, 175);}

nav{ width : 100%; background-color : rgb(255, 216, 145); display : inline-block;}
ul{ width : 100%; height : 30px;}
li{ list-style : none; float : left; margin-left : 20px; color : #fff; padding-top : 3px;}
table{ margin : 0 auto; margin-bottom : 20px }
li>a{ text-decoration : none; color : #fff}